html {
    margin: 0%;
}

body {
    margin: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

/*Actividade 1*/

#n1 {
    width: 500px;
    display: flex;
    border-style: dotted;
    justify-content: space-between;
}

#n1 div:nth-of-type(1) {
    width: 33%;
    height: 200px;
    background-color: green;
}

#n1 div:nth-of-type(2) {
    width: 33%;
    height: 200px;
    background-color: white;
}

#n1 div:nth-of-type(3) {
    width: 33%;
    height: 200px;
    background-color: goldenrod;
}

/*Actividade 2*/

#n2 {
    width: 500px;
    border-style: dotted;
    padding: 10px;
}

#n2 div:nth-of-type(1) {
    height: 200px;
    background-color: sandybrown;
}

#n2 div:nth-of-type(2) {
    height: 200px;
    background-color: cornflowerblue;
}

/*Actividade 3*/

#n3 {
    width: 500px;
    display: flex;
    border-style: dotted;
    border-color: red;
    justify-content: space-between;
    padding: 20px;
}

#n3 div:nth-of-type(1) {
    border: 1px;
    border-style: solid;
    width: 50%;
    height: 200px;
    background-color: rgb(248, 237, 138);
}

#n3 div:nth-of-type(2) {
    border: 1px;
    border-style: solid;
    border-color: red;
    width: 50%;
    height: 200px;
    background-color: rgb(198, 243, 239);
}

/*Actividade 4*/

#n4 {
    width: 500px;
    height: 500px;
    display: flex;
    border-style: solid;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 100px;
}

#n4 article:nth-of-type(1){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
}

#n4 article:nth-of-type(2){
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;

}

#a1 div:nth-of-type(1){
    height: 48%;
    background-color: green;
    padding-bottom: 10px;
}
#a1 div:nth-of-type(2){
    height: 48%;
    background-color: red;

}

#a2 div:nth-of-type(1){
    height: 20%;
    background-color: blue;
    padding-bottom: 10px;
}
#a2 div:nth-of-type(2){
    height: 76%;
    background-color: rgb(147, 37, 221);

}