html,
body {
  padding: 0%;
  margin: 0%;
  font-family: 'Special Elite';
}

header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header section {
  margin-bottom: 20px;
  border-bottom: solid 2px rgb(207, 207, 207);
  width: 90%;
  padding-bottom: 10px;
}
header h1 {
  padding: 0%;
  margin: 0%;
  padding-top: 20px;
}

header p {
  padding: 0%;
  margin: 0%;
}

main {
  display: flex;
  flex-direction: row;
}

hr {
  width: 80%;
}

nav {
  padding-left: 3%;
}
ul {
  margin: 0%;
  list-style: none;
}
li {
  padding: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

#cartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 30px;
}

#cartas div {
  border: solid 2px rgb(207, 207, 207);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5px;
}

#cartas div:nth-child(1) {
  width: 60%;
}

#cartas div:nth-child(2) {
  width: 30%;
  font-weight: bold;
  font-size: 30px;
}

#cartas div:nth-child(3) {
  width: 30%;
}

#cartas div:nth-child(4) {
  width: 30%;
  font-weight: bold;
  font-size: 30px;
}

#cartas div:nth-child(5) {
  width: 30%;
}

#cartas img {
  margin: 10px;
  width: 80%;
  border-radius: 15px;
}

footer {
  border-top: solid 2px rgb(207, 207, 207);
  padding: 10px;
  padding-bottom: 0%;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer section {
  width: 33%;
  display: flex;
  justify-content: center;
}

footer section:nth-child(1) {
  display: flex;
  flex-direction: column;
}
footer section:nth-child(1) p {
  padding: 0%;
  margin: 0%;
}
#redes img {
  width: 10%;
  padding: 2px;
}
#redes {
  width: 33%;
  justify-content: flex-end;
}
