body{
    background-color: pink;
}

header h1{
    text-align: center;
}
header p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main section #left{
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

main section #right{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}

main section #center{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: green;
}
footer p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}