* {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}
header {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: #a4fed7;
  border: 1px solid blue;
  border-radius: 5px;
}
article {
  grid-column: 2 / 3;
  grid-row: 2;
}
aside {
  grid-column: 1 / 2;
  grid-row: 2;
  border-right: 1px solid black;
}
footer {
  grid-column: 1 / 3;
  grid-row: 3;
  background-color: #a4fed7;
  border: 1px solid blue;
  border-radius: 5px;
}
