body {
  display: flex;
  justify-content: center;
}

section {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 800px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px grey;
}

#rec1 {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  height: 25%;
  background-color: rgb(0, 183, 255);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

#rec1 p {
  text-align: center;
  width: 15%;
  margin-left: 10px;
  background-color: white;
}

#rec2 {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 25%;
  background-color: rgb(0, 183, 255);
  display: flex;
  flex-direction: row;
  justify-content: right;
}

#rec2 p {
  text-align: center;
  width: 15%;
  height: 23px;
  margin-right: 10px;
  background-color: white;
}

#rec3 {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 25%;
  background-color: rgb(0, 183, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#rec3 div {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 15%;
  height: 90%;
  margin-right: 10px;
  background-color: white;
}

#rec4 {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 25%;
  background-color: rgb(0, 183, 255);
  display: flex;
  flex-direction: row;
  align-items: top;
}
#rec4 div {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
#rec4 div div {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 15%;
  height: 20px;
  margin-right: 10px;
  background-color: white;
  margin: 10px;
}

#rec4 div div:nth-child(1) {
  height: 30px;
  font-size: 25px;
}

#rec4 div div:nth-child(2) {
  font-weight: bold;
}
